* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
}

.header nav ul {
  list-style-type: none;
  text-decoration: none;
}

.header ul li {
  float: left;
}

.header nav li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
}

.header nav li a:hover {
  background-color: darkturquoise;
}

section {
  margin: 20px 0;
}
